@tailwind base;
@tailwind components;
@tailwind utilities;


/* css for doctor image in home page hero  */
#doctor-image {
    border-radius: 2rem 0 2rem 0;
    position: relative;
    display: block;
}